@charset 'UTF-8';

/*Configurações Globais*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root { /* Variáveis em CSS*/
    --color0: #c5ebd6;
    --color1: #83E1AD;
    --color2: #3DDC84;
    --color3: #2FA866;
    --color4: #1A5C37;
    --color5: #063d1e;
    --font-standard: Arial, Helvetica, sans-serif;
    --font-highlight: 'Bebas Neue', cursive;
    --font-android: 'idroid', sans-serif;
}

body {
    background-color: var(--color1);
    font-family: var(--font-standard);
}

/*CABEÇALHO*/
#top {
    background-image: linear-gradient(to bottom, var(--color3), var(--color4) 70%, var(--color5));
    overflow: auto;
}

.font-highlight {
    font-family: var(--font-highlight);
}

.highlighted-word {
    text-decoration: none;
}


#page-title {
    color: white;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

#top > p {
    color: white;
    text-align: center;
    margin: 20px 0px;
}

.shadow-highlight {
    text-shadow: 2px 2px 1px black;
}

/*Principal*/
#recent-post {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: white;
}

#post-1 {
    background-color: white;
    max-height: 400px;
    max-width: 400px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
}

#post-1:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}

#post-1 > p {
    padding: 10px;
    text-align: justify;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.144);
}

.conteiner-post-img {
    background-image: linear-gradient(to right, var(--color0), rgb(96, 201, 166));
    max-width: 100%;
    text-align: center;
}

.image-post {
    width: 50%;
}

.title-resume {
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

/*RODAPÉ*/
#page-footer {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: var(--color5);
    text-align: center;
    overflow: auto;
}

#footer-p {
    margin-top: 18px;
    color: white;
}
